body {
    font-family:  Comic Sans MS, Comic Sans, cursive;
   background-color: #FFF8DC;
}

div.body tt.classes_name {
	font-size: 300%;
}

div.body tt.classes_name {
	font-size: 300%;
}

div body tt.function_name {
    font-size: 300%;
}

div.body {
	margin-left: 1.1em;
}
